header {
  width: 50%;
  border-bottom: 1px solid #ccc;
}
nav {
  border-bottom: 1px solid var(--blue);
}
nav ul {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
nav li:nth-of-type(1) {
  margin-left: 20px;
}
nav li:nth-of-type(2) {
  padding-top: 70px;
  margin-left: -106px;
}
nav li:nth-of-type(3) {
  padding-top: 72px;
  margin-left: 35px;
}
nav li:nth-of-type(4) {
  margin-left: -90px;
  padding-top: 31px;
  font-weight: bolder;
}

.liBtn {
  left: -8px;
  top: -17px;
  font-size: 12px;
  padding: 16px 9px;
  margin-right: 8px;
  margin-bottom: 10px;
}
.liBtn i {
  left: -8px;
  top: -17px;
}
.descriptionTitle {
  flex-direction: column;
}
.lastchild {
  width: 250px;
}
.hebergementsContainer {
  flex-direction: column-reverse;
}
figure {
  height: auto;
  padding: 2px;
  margin-bottom: 10px;
}
.box figure {
  flex-direction: column;
}
figure img {
  width: 100%;
  height: 120px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.popularBox {
  margin: 20px 5px;
}
.popularBox img {
  width: 30%;
  height: 126px;
}
.startBoxPopular {
  margin-top: 52px;
}
#startSecond{
    margin-top:30px !important;
}
.popularBox.startBoxPopular:nth-of-type(1){
    padding-top:30px;
}
.normalsize {
  padding-top: 0px;
}
.activitesContainer {
  flex-direction: column;
}

.rowPhoto {
  flex-direction: column;
  margin-right: 17px;
  
}
.Boxbig {
  border-radius: 15px;
  background-color: #fff;
  border: 1px solid #ccc;
}

.boxSmall {
  width: 100%;
  height: auto;
  margin: 10px auto;
}

.boxSmall img {
  width: 100%;
}
footer {
  flex-direction: column;
}
@media (width:768px) {
 body{
   background-color:#ccc;
 }
      nav {
        border: none;
      }
      nav ul {
        justify-content: flex-start;
        flex-direction: row;
        margin-right: 50px;
      }
      nav li {
        padding-top: 14px;
      }
      nav li:nth-of-type(1) {
        margin-left: 20px;
        flex-grow: 1;
      }
      nav li:nth-of-type(2) {
        padding-top: 32px;
      }
      nav li:nth-of-type(3) {
        padding-top: 32px;
      }
      nav li:nth-of-type(4) {
        font-weight: bolder;
        margin-left: 0px;
      }
      .search {
        width: 38%;
    }
     .parent_box{
         display:flex;
         flex-direction:row;
     }
     .box{
        margin:0 10px;
     }
     .popularBox img {
      width: 45%;
     
    }
      .popularBox figure {
          width:82%;
          margin:0 auto;
      }
      .activitesContainer {
        flex-direction: column;
        align-items: center;
        margin: 0px 2px;
    }
    figure {
      padding: 0;
      margin-bottom:0px;
    }
    
    .Boxbig img {
        height:302px;
    }
    .smallBigMargin {
        margin-top: 37px;
    }
    #ileDuFriout{
        height:150px;
    }
    #ileDuFriout img {
        height: 100px;
      }
      .FortdePomegues{
          margin-top:40px;
      }
      .Boxbig img{
        justify-content:center;
       }
      .rowPhoto {
          margin-right:10px;
          width:50%;
      }
      footer {
       flex-direction: row;
    }
}
@media  (max-width: 800px) {
    .popularContainer h2 {
        margin-left: 13px;
       
    }
    .startBoxPopular {
        margin-top: 18px;
    }
    .popularBox figure {
        width: 100%;
        
    }
}
@media (min-width: 1024px){  
  header {
    width: 100%;
    border: none;
  }
  nav {
    border: none;
  }
  nav ul {
    justify-content: flex-start;
    flex-direction: row;
    margin-right: 50px;
  }
  nav li {
    padding-top: 14px;
  }
  nav li:nth-of-type(1) {
    margin-left: 20px;
    flex-grow: 1;
  }
  nav li:nth-of-type(2) {
    padding-top: 32px;
  }
  nav li:nth-of-type(3) {
    padding-top: 32px;
  }
  nav li:nth-of-type(4) {
    font-weight: bolder;
    margin-left: 0px;
  }
  /*Search Section*/
  .search {
    width: 17%;
  }
  .btn_recherche {
    width: 85px;
  }
  .btnSpanRecherche {
    display: block;
  }
  .searchIcon {
    display: none;
  }

  .descriptionTitle {
    flex-direction: column;
  }
  /* Filter Section*/
  .filterContainer {
    margin: 40px 20px;
    flex-direction: row;
  }
  .liBtn {
    margin-right: 10px;
    margin-left: 15px;
    padding: 17px;
  }
  .liBtn i {
    left: -19px;
    top: -17px;
    padding: 15px 15px;
  }
  .lastchild {
    width: auto;
  }

  /* Hebergements*/
  .hebergementsContainer {
    flex-direction: row;
  }
  article {
    margin-right: 10px;
    width: 70%;
  }
  aside {
    margin-left: 10px;
    width: 25%;
  }
  .parent_box {
    display: flex;
    justify-content: center;
  }
  .box {
    margin: 10px 20px;
    padding-bottom: 5px;
  }
/***/
.activitesContainer {
    flex-direction: row;
    margin: 20px 20px;
    justify-content: center;
  }
  .Boxbig{
  margin-top: 33px;
   }
  .Boxbig img {
    height: 375px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .rowPhoto {
    flex-direction: column;
    margin-top:18px;
    margin-right:0px;
  }
  .boxSmall {
    width: 90%;
    height: auto;   
  }

  .boxSmall img {
    width: 100%;
    height: 144px;
  }
  #FortdePomegues{
    height: 186px;  
  }
  #FortdePomegues img{
      height:150px;
  }
  #ileDuFriout {
    position: relative;
    z-index: -1;
    margin-right: 13px;   
    box-shadow: 1px 2px rgba(204, 204, 204, 0.561);
    top:58px;
  }
  #ileDuFriout {
    margin-top:27px;
   }
  #ileDuFriout img {
    height: 90px;
  }
  #ileDuFriout figcaption {
    z-index: 4;
    top: 100 !important;
  }
  #lastSmall{
    position: relative;
      top:32px;
  }
  footer {
    flex-direction: row;
  }
  .card:nth-of-type(2) {
    margin-left: 150px;
    margin-right: 100px;
  }
  .card:nth-of-type(3) {
    margin-left: 120px;
  }
}



