/* ----------- iPhone 4 and 4S ----------- */
@media (min-width:320px) 
 
{
  .container{
    width: 100%;
 
  }
 
/*==Variables===*/
:root {
    --blue: #0065fc;
    --lightBlue: #deebff85;
    --bgColor: #f2f2f2;
  }
  /**Reset**/
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /*==Base css==*/
 
  p,
  a,
  ul,
  li {
    margin: 0;
    padding: 0;
    text-decoration: none;  
  }
  body {
    font-family: "Raleway", sans-serif;  
    overflow-x: hidden;
      display: block;
  }
  
  li {
    list-style-type: none;
  }
  header {
    width: 100%;
   }
  
 nav {
    margin-top: 0px;
    padding-top: 20px;
    width: 100%;
    padding-bottom:10px;
   }
   nav img{
     margin-left:20px;
   }
  nav ul {
    display: flex; 
    flex-direction :column-reverse;
  }
  nav ul li{
      font-size: 14px;
  }
 
  nav li:nth-of-type(3) {
      margin-top:-28px;
      margin-left:243px;
   }
  nav li:nth-of-type(2) {
    padding-top: 30px;
    padding-left: 52px;
    margin-left: 164px;
    padding-bottom: 10px;
    border-bottom: 3px solid #ccc;

  }
  nav ul li:nth-of-type(1) {
     margin-left: 39px;
     margin-top:-28px;
   }  
 nav a {
   color: #000;
  }
  
  .active {
    color: var(--blue);
    padding-bottom: 10px;
    padding-left: 41px;
    border-bottom: 2px solid var(--blue);
    margin-left: -42px;
    padding-right: 72px;
   }
  .firtsBtn .liBtn{
    width: 170px;
  }
  .liBtn {
    line-height:3.4;
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
    width: 146px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  .liBtn i {
    position: relative;
    left: -2px;
    top: 1px; 
    font-size:19px;
    color: var(--blue);
    background-color: var(--lightBlue);
    border-radius: 50%;
    width: 50px;
    height: 47px;
    padding: 14px 16px;
    margin-right:2px;
  }
  .liBtn h3{
    font-size: 12.8px;
    padding-left:7px;
    padding-right: 7px;
  }
  .descriptionTitle {
    flex-direction: column;
  }
  .lastchild {
    width: 231px;
  }
  
  figure {
    height: auto;
   }
   .box {
     margin: 20px auto;
   }
  .box figure {
    flex-direction: column;
  }
  /*figure img {
    width: 100%;
    height: 120px;
    
  }*/
  .hebergementPopulaire{
    width:40%;
    height:120px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  #hebergementPopulaire1{
   background-image:url("../images/hebergement/3_medium/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
   background-size:cover;
  }
  #hebergementPopulaire2{
    background-image:url("../images/hebergement/3_medium/aw-creative-VGs8z60yT2c-unsplash.jpg");
    background-size:cover;
   }
   #hebergementPopulaire3{
    background-image:url("../images/hebergement/3_medium/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
    background-size:cover;
   }
                         
  .popularBox img {
    width: 40%;
    height: 110px;
  }
  .chart{
    margin-left:33%;
    }
  .popularBox.startBoxPopular:nth-of-type(1){
      padding-top:30px;
  }
  .normalsize {
    padding-top: 0px;
  }
  .activitesContainer {
    flex-direction: column;
  }
  .separationDiv {
    flex-direction:column;
  }
  .rowPhoto {
    flex-direction: column; 
   
  }
 
  .boxSmall {
    width: 100%;
    height: auto;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 15px;
  }
  
  .boxSmall img {
    width: 100%;
  }
  
  footer {
    flex-direction: column;
  }


  /**/
  .sincrire{
    color: var(--blue);
    font-weight:bold;
  }
  section {
    margin: 20px 10px;
  }
  .descriptionTitle {
    display: flex;
    margin: 20px 15px;
  }
  
  .descriptionTitle h1 {
    padding-bottom: 10px;
    font-size: 1.2rem;
    color:#000;
  }
  .descriptionTitle p {
    font-size:13px;
  }
  /*Search Input*/
  
  .searchInput {
    display: flex;
    margin-top:20px;
  }
  ::placeholder {
    font-size: 1rem;
    color: #000 !important;
    font-weight: bolder;
  }
  .fa-map-marker-alt {
    padding: 16.5px 19px;
    background-color: #e5e2e267;
    border: 1px solid #f2f2f2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  .search {
    width: 63%;
    height: 51px;
    border: none;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    text-align: center;
  }
  .btn_recherche {
    border: none;
    width: 50px;
    height: 51px;
    border-radius: 10px;
    background-color: var(--blue);
    color: white;
    font-size: 15px;
    font-weight: 700;
    padding:10px;
  }
  
  .btn_recherche:hover {
    color: var(--blue);
    background-color: #deebff;
    border: 1px solid var(--blue);
    cursor: pointer;
  }
  
  .btnSpanRecherche {
    display: none;
  }
  .searchIcon {
    display: block;
  }
  
  /*=== Filter Container ===*/
  .filterContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 20px 20px;
  }
  .filterContainer h2 {
    line-height: 3;
    font-size: 1.2rem;
  }
  
  .firtsBtn {
    display: flex;
    flex-direction: row;
  }
  
    .libtn h3{
    font-weight:bolder;  
  }
  .liBtn:hover {
    background-color: var(--blue);
    font-weight: bolder;
    color: #fff;
    transition: all 0.4s;
  }
  .liBtn i:hover {
    background-color: green;
    color: #fff;
  }
  
  .liContainerBtn {
    position: relative;
    margin-top: 10px;
  }
  .liContainerBtn i {
    position: absolute;
    left: 4px;
    top: 1px;
    font-size: large;
    color: var(--blue);
    background-color: var(--lightBlue);
    border-radius: 50%;
    width: 50px;
    height: 47px;
    padding: 15px 15px;
    margin-right: 10px;
  }
  .btnFilter {
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 30px;
    background-color: transparent;
    font-size: 1.1em;
    text-align: center;
    margin-left: 5px;
    cursor: pointer;
  }
  .btnFilter:hover {
    color: var(--blue);
    background-color: #deebff;
  }
  
   .information {
    display: flex;
    margin-left: 10px;
    width: 91%;
    margin-bottom: 20px;
  }
  .information p{
    font-size: 0.8rem;
  }
  /* Info section three */
  .disponible {
    display: flex;
    line-height: normal;
    width: 95%;
    font-size: 15px;
  }
  .round-btn {
    background-color: #fff;
    width: 30px;
    height: 30px;
    padding: 3px 12.5px;
    font-size: 1rem;
    margin-right: 10px;
    border-radius: 50%;
    color: var(--blue);
    border: 1px solid #ccc;
    margin-top: -2px;
  }
  
  /* Hebergements*/
  #hebergement{
    margin:20px; 
    padding-top:20px; 
  }
  .hebergementsContainer {
    display: flex;
   }
  .hebergementTitle{
  font-size: 1.2rem;
  margin-top:20px;
  margin-bottom:20px;
  margin-left: 14px;
  } 
  .hebergementImg{
    width: 100%;
    height: 100px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    
  }.hebergementsContainer {
    flex-direction: column-reverse;
  }
  #hebergementImg {
    height: 118px;
    background-image: url("../images/4_small/8sm.jpg");
    background-size: cover;
    
  }
  #hebergementImg2 {
    height: 118px;
    background-image: url("../images/4_small/2d.jpg");
    background-size: cover;
  }
  #hebergementImg3 {
    height: 119px;
    background-image: url("../images/4_small/sm3a.jpg");
    background-size: cover;
  }
  #hebergementImg4 { 
    height:123px; 
    background-image: url("../images/4_small/sm4b.jpg");
    background-size: cover;
  }
  #hebergementImg5 { 
    height: 123px;
    background-image: url("../images/4_small/sm5c1.jpg");
    background-size: cover;
  }
  #hebergementImg6 {
    height: 123px;
    background-image: url("../images/4_small/sm6b.jpg");
    background-size: cover;
  }
 
  article {
    width: 99%;
    height: auto;
    background-color: #fff;
   
   
  }
  .parent_box{
    background-color:var(--bgColor);
    padding-bottom: 10px;
    margin: 0 9px;
  }
  #secondParent_box{
      margin-top:-24px;
  }
  .imageTitle {
    padding-bottom: 15px;
    margin-left:5px;
  }
 
  aside {
    margin-top:10px;
    width: 100%;
    height: auto;
    background-color: var(--bgColor);  
  }
  .box {
    width: 98%;
    height: auto;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 2px 3px rgba(204, 204, 204, 0.561);
    cursor: pointer;
  }
  .box:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
      0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
      0 16px 16px rgba(0, 0, 0, 0.1);
      color:var(--blue)
  }
  figure {
    background-color: #fff;
    border-radius: 15px;
    display: flex;
  }
  .captionHeberhement{
      padding:10px;
      line-height: 1.8;
  }
  figcaption h3 {
    font-size: 0.9rem;
  }
  .startBox {
    display: flex;
    font-size: 12px;
    padding-top: 5px;
    color: var(--blue);
  }
  
  
  .popularTitle {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 19px;
    padding-top: 18px;
    margin-left:20px;
   
  }
  
  .popularBox {
    border-radius: 25px;
    background-color:#fff;
    margin: 24px 5px;
    
   }
  .popularBox:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
      0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
      0 16px 16px rgba(0, 0, 0, 0.1);
      color:var(--blue);
  }
  .popularBox figure {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border-radius: 15px;
    padding:5px;
   
  }
  .popularBox img {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 0px;
  }
  .popularBox figcaption {
     padding:10px;
     line-height: 1.5;
  }
  .popularBox figcaption > p{
   font-size:14px;
  }
  .startBoxPopular {
    display: flex;
    color: var(--blue);
    font-size: 12px;
    margin-top: -25px;
    margin-left: 29px;
    justify-content: center;
   
  }
  .unCheckStart i {
    color: #ccc;
  }
  .textLeft {
    margin-left: 9px;
    background: #fff;
    margin-top: -25px;
    height: 50px;
    line-height: 3;
    padding:6px;
}
    
  
  .textLeft a{
      color:#000;
      font-weight: bold; 
      padding-top:10px;
  }
  /*===activitesContainer==*/
  .activitesContainer {
    display: flex;
   }
  .rowPhoto {
    display: flex;
  }
  .separationDiv{
    display:flex;
  }
  .Boxbig {
    background-color: #fff;
    border-radius: 15px;
    height: auto;
   margin-bottom: 7px;
   border: 1px solid #ccc;
    border-radius: 15px;
   
  }
  .Boxbig:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
      0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
      0 16px 16px rgba(0, 0, 0, 0.1);
      color:var(--blue);
  }
  .Boxbig figure {
    display: flex;
    flex-direction: column;
  }
  .Boxbig h4 {
    padding: 11px;
    font-size: 14px;    
  }
  .Boxbig img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
 
  .boxSmall figure {
    display: flex;
    flex-direction: column;
  }
  .boxSmall h4 {
    padding: 10px;
  }
  .boxSmall img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .activityImg {
    height: 135px;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
   
  }
  .activitySmImg {
    height: 125px;
    width: 100%;    
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  #activityImg1 {
    background-size: cover;
    background-image: url("../images/activites/6.jpg");
  }
  #activityImg2 {
    height:110px;
    background-size: cover;
    background-image: url("../images/activites/boxSmmg3a.jpg");
  }
  #activityImg3 {
    height:118px;
    background-size: cover;
    background-image: url("../images/activites/a2a.jpg");
  }
   #activityImg4 {
    height: 109px;
    background-size: cover;
    background-image: url("../images/activites/5ab.jpg");
  }
  #activityImg5 {
    background-size: cover;
    background-image: url("../images/activites/boxSmImg3.jpg");
  }
  #activityImg6 {
       background-size: cover;
    background-image: url("../images/activites/boxSmImg4.jpg");
  }
  /*===Footer ===*/
  footer {
    display: flex;    
    margin-top: 40px;
    background-color:var(--bgColor);
    padding-bottom: 40px;
  }
  .card {
    padding: 1rem;
    line-height: 2;   
  }
 
 } 
 @media (min-width: 375px){
  .chart {
    margin-left: 42%;
}
.hebergementImg{
  width: 100%;
  height: 150px;
}
  #activityImg1 {
    height:155px;
  }
  #activityImg2 {
    height:126px;
  }
  #activityImg3 {
    height:139px;
  }
  #activityImg4 {
    height:140px;
  }
  #activityImg5 {
    height:136px;
  }
  #activityImg6 {
    height:136px;
  }

 }
 @media (min-width: 425px){
  #hebergementImg {
    height:130px;
  }
  #hebergementImg2 {
    height: 134px;
  } 
  #hebergementImg3 {
    height: 139px;
  }
  #hebergementImg4 {
    height: 141px;
  }  
  #hebergementImg5 {
    height: 136px;
  } #hebergementImg6 {
    height: 140px;
  } 
  
 #activityImg1 {
  height:181px;
}
#activityImg2 {
  height:153px;
}
#activityImg3 {
  height:158px;
}
#activityImg4 {
  height:149px;
}
#activityImg5 {
  height:164px;
}
#activityImg6 {
  height:169px;
}
 }
 

